{% load i18n static i18next %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/theme.css' %}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% block css %}{% endblock css %}
</head>
<body class="image-bg">
<div class="fixed-top-right">
    {% if request.user.username %}
    <a href="{% url 'logout' %}"><h1 class="main-title">Hello, {{ request.user }}</h1></a>
    {% else %}
    <div class="btn-group" role="group" aria-label="Social">
        {#      <button type="button" class="btn btn-default">VK</button>#}
        {#      <button type="button" class="btn btn-default">Facebook</button>#}
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#sign-in-modal">Sign In</button>
    </div>
    {% endif %}
</div>
<div class="pull-right">
    {#    {% disabletranslations %}#}
    {#        <a href="{% url current_url_name %}">{% trans 'English' %}</a>#}
    {#    {% enddisabletranslations %}#}
    {#    {% overridelocale 'ru' %}#}
    {#        <a href="{% url current_url_name %}">{% trans 'Russian' %}</a>#}
    {#    {% endoverridelocale %}#}
</div>
{% block content %}{% endblock content %}
<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>

{#MODAL#}
<div id="sign-in-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form id="sign-in-form" action="{% url 'sign-in' %}" method="post">
                    {% csrf_token %}
                    <h2>Sign in</h2>
                    <div class="label label-danger form-errors sign-in-errors"></div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="" name="username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                    <button type="button" class="btn btn-link pull-right toggle-link">Create Accout</button>
                </form>
                <form id="sign-up-form" method="post" action="{% url 'sign-up' %}">
                    {% csrf_token %}
                    <h2>Sign up</h2>
                    <div class="label label-danger form-errors sign-up-errors"></div>
                    <div class="form-group">
                        <label >Username</label>
                        <input type="text" class="form-control" placeholder="" name="username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="" name="password1">
                    </div>
                    <div class="form-group">
                        <label>Password(Re-type)</label>
                        <input type="password" class="form-control" placeholder="" name="password2">
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-link pull-right toggle-link">Sign in</button>
                </form>
            </div>
            <div class="with-line"><span>{% trans 'Sign in via social' %}</span></div>
            <div class="social-buttons">
                <a role="button" href="#" class="btn btn-default"><i class="fa fa-vk"></i></a>
                <a role="button" href="#" class="btn btn-default"><i class="fa fa-google"></i></a>
                <a role="button" href="#" class="btn btn-default"><i class="fa fa-facebook"></i></a>
            </div>
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-primary">Save changes</button>#}
{#            </div>#}
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{% static 'js/jquery.form.min.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/form-auth.js' %}"></script>
<script src="{% static 'js/form-auth-toggle.js' %}"></script>
{% block js %}{% endblock js %}
</body>
</html>