<!-- Modal -->
<div class="modal fade" id="lesson-modal" tabindex="-1" role="dialog" aria-labelledby="lesson-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p id="lesson-title">Численные методы</p>
                <div class="col-md-12">
                    <p id="lesson-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div id="lesson-teacher">
                    <p>Teacher:</p>
                    <div id="teacher">
                        <div class="col-md-8">
                            <span id="teacher-name">Леваков Анатолий Афанасьевич</span><br/>
                            <span id="teacher-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            </span>
                        </div>
                        <div class="col-md-4">
                            <img src="/media/35033.jpg" id="teacher-image">
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="teacher-phone">
                    <a href="tel:+375291488000">Tel: +375 (29) 148-80-00</a>
                </div>
            </div>
            <div class="modal-footer">
                <span id="lesson-room">521(Lecture) 13:00</span>
                <button type="button" class="btn btn-danger" id="remove-lesson-btn" data-lesson-id="">Remove</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>