{% extends '_base.html' %}
{% block css %}{% endblock css%}

{% block content %}
<div class="absolute-v-center">
    <div class="container main-content">
        <h1 class="main-title">Lorem ipsum dolor sit amet</h1>
        <div class="row search-form">
            <div class="col-md-3 col-sm-12 search-input">
                <input type="text" class="form-control no-border" placeholder="City" id="city">
            </div>
            <div class="col-md-3 search-input">
                <input type="text" class="form-control no-border" placeholder="University">
            </div>
            <div class="col-md-4 search-input">
                <input type="text" class="form-control no-border" placeholder="Faculty">
            </div>
            <div class="col-md-1 search-input" id="course-select">
                <select class="form-control selectpicker" data-style="btn-default no-outline">
                    <option value="" disabled selected>Course</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-md-1 search-input"><button type="button" class="btn btn-success">Search</button></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
    <script>
    $.ui.autocomplete.prototype._renderItem = function( ul, item){
      var term = this.term.split(' ').join('|');
      var re = new RegExp("(" + term + ")", "gi") ;
      var t = item.label.replace(re,"<b>$1</b>");
      return $( "<li></li>" )
         .data( "item.autocomplete", item )
         .append( "<a>" + t + "</a>" )
         .appendTo( ul );
    };
    var availableCity = [
      "Minsk", "MHrodno", "MBrest", "Mogilev", "MVitebsk"
    ];
    $( "#city" ).autocomplete({
      source: function(request, response) {
        var results = $.ui.autocomplete.filter(availableCity, request.term);

        response(results.slice(0, 3));
    }
    });
    </script>
{% endblock js %}