{#{% load static %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <style>
        .text-full-center {
            text-align: center;
            vertical-align: middle !important;
        }
        td.lesson, td.empty-lesson {
            transition: 0.2s;
            width: 300px;
        }
        td.lesson:hover, td.empty-lesson:hover {
            background: #d3d3d3;
            cursor: pointer;
        }
        td.rotate {
          /* Something you can count on */
          height: 140px;
          white-space: nowrap;
            width: 15px;
        }

        td.rotate > div {
          transform:
            /* Magic Numbers */
{#            translate(0, 50px)#}
            /* 45 is really 360 - 45 */
            rotate(-90deg);
          width: 15px;
            margin-top: 40px;
        }
        td.time {
            width: 20px;
        }
        .img-teacher-preview {
            height: 60px;
            width: 60px;
            background-size: 60px !important;
            background-repeat: no-repeat !important;
            border-radius: 50%;
            float: right;
            display: inline-block;
            margin-top: -20px;
        }
        .subject-name {
            font-size: 16px;
            font-weight: 600;
            margin-left: 5px;
{#            margin-top: 10px;#}
        }
        .teacher-name {
            float: right;
{#            margin-top: 10px;#}
            font-size: 16px;
            font-style: italic;
        }
        .class-room {
{#            margin-top: 15px;#}
            margin-left: 5px;
            float: left;
        }

        {#   Modal styles     #}
        #lesson-title, #lesson-teacher {
            font-size: 26px;
            font-weight: 600;
        }
        #lesson-teacher {
            font-size: 24px;
        }
        #teacher {
            font-size: 18px;
            font-weight: 600;
            font-style: italic;
            margin-top: -0px;
            display: inline-block;
            width: 100%;
        }
        #teacher-image {
            float: right;
            max-height: 150px;
        }
        #teacher-description {
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
        }
        #teacher-phone {
            text-align: right;
            font-style: italic;
            font-size: 14px;
        }
        #lesson-room {
            float: left;
            margin-top: 5px;
            font-size: 16px;
            font-style: italic;
        }
        #lesson-description {
            font-size: 16px;
            text-align: justify;
        }
    </style>
</head>
<body>
{#{% macro lesson(group, day, time) -%}#}
{#{% set l=get_lesson(group, day, time) %}#}
{#    <td>{{ get_lesson(group, day, time) }}</td>#}
{#{%- endmacro %}#}
<table class="table table-bordered table-striped">
    <tr>
        <td colspan="2"></td>
        {% for group in groups %}
            <td>{{ group.short_name }}</td>
        {% endfor %}
    </tr>
    {% for day in DAYS %}
        {% for time in lesson_times %}
            <tr>
                {% if loop.index == 1 %}
                    <td rowspan="{{ lesson_times.count() }}" class="text-full-center rotate">
                        <div>{{ day[1] }}</div>
                    </td>
                {% endif %}
                <td class="text-full-center time">{{ time }}</td>
                {% for group in groups %}
                    {% set lesson=get_lesson(group, day[0], time) %}
                    <td class="{% if lesson %}lesson{% else %}empty-lesson{% endif %}" data-lesson="{{ lesson['base64'] }}" data-id="{{ lesson['lesson_id'] }}">
                    {% if lesson %}
                        <div>
                            <div class="subject-name">{{ lesson['subject_full_name'] }}</div>
                            <div class="img-teacher-preview"
                                 style="background: url('{{ lesson['teacher_photo_url'] }}') "></div>
                            <br/>
                            <span class="class-room">{{ lesson['class_room_number'] }} ({{ lesson['class_room_type'] }})</span>
                            <span class="teacher-name">{{ lesson['teacher_short_name'] }}</span>

                        </div>
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr><td colspan="{{ groups_count + 2 }}"></td></tr>
    {% endfor %}
</table>
{% include '_lesson_modal.html' %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}/js/jquery.cookie.js"></script>

<script>
    $(function(){
        var lessons = $('td.lesson');
        for(var i=0; i < lessons.length - 1; i++) {
            var $lesson = $(lessons[i]);
            if($lesson.data('id') == '') {continue}
            var $lesson_next = $(lessons[i+1]);
            if($lesson.data('id') == $lesson_next.data('id')){
                $lesson.attr('colspan', 1 * ($lesson.attr('colspan') || 1) + 1);
                $lesson_next.remove();
                lessons.splice(i+1, 1);
                i--;
            }

        }

        $("td.lesson").on('click', function(event){
            var data64 = $(this).data('lesson');
            var data_json = JSON.parse(atob(data64));
            $("#lesson-title").text(data_json['subject_full_name']);
            $("#lesson-description").text(data_json['subject_description']);
            $("#teacher-name").text(data_json['teacher_full_name']);
            $("#teacher-description").text(data_json['teacher_description']);
            $("#teacher-image").attr('src', data_json['teacher_photo_url']);
            $("#lesson-room").text(data_json['time'] + " - " + data_json['class_room_number'] + "(" + data_json['class_room_type'] + ")");
            $("#remove-lesson-btn").attr("data-lesson-id", $(this).data('id'));
            $("#lesson-modal").modal('show');
        });

        $("#remove-lesson-btn").on('click', function(){
            var lesson_id = $(this).attr('data-lesson-id');
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                url: "/lesson/" + lesson_id,
                method: "DELETE",
                success: function(data){
                    $td = $("td[data-id='"+ lesson_id +"']");
                    $td.removeClass('lesson')
                       .addClass('empty-lesson')
                       .removeAttr('data-lesson')
                       .removeAttr('data-id')
                       .html('').unbind();
                    var size = $td.attr('colspan') * 1;
                    $td.attr('colspan', "1");
                    for(var i = 0; i < size - 1; i++) {
                        $("<td class='empty-lesson'></td>").insertAfter($td);
                    }
                    $("#lesson-modal").modal('hide');
                }
            });

        });
    });
</script>
</body>
</html>