.absolute-v-center {
    height: 95vh;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 772px) {
    .absolute-v-center .container {
        margin-right: 10px;
        margin-left: 10px;
        width: 100%;
    }
}

.search-form {
    opacity: 0.95;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.search-form .search-input {
    padding-left: 0;
    padding-right: 0;
    border: none;
    height: 65px;
}

.search-form .search-input input, .search-form .search-input select, .search-form .search-input button{
    height: 65px;
    width: 100%;
}

.search-form .search-input a {
    height: 65px;
    width: 100%;
    padding-top: 20px;
}

.fixed-top-right {
    position: fixed;
    top:0;
    right: 0;
}
body.image-bg {
  background-image: url(../img/library-study.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.no-border {
    border: none;
}

.form-control:focus {
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.no-outline, .no-outline:focus, .no-outline:active, .no-outline:hover {
    outline: none !important;
}

#course-select .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline-offset: 0;
}
#course-select a:hover {
    background-color: lightgray;
}
:focus {
    outline: none !important;
}

.search-form input, .search-form button, .search-form a {
    font-size: 18px;
}
.main-title {
    color: white;
}
.main-content {
    margin-top: -100px;
}

.ui-autocomplete li {
    height: 50px;
    padding-left: 15px !important;
    padding-top: 13px !important;
    opacity: 0.95;
}

.ui-menu .ui-state-focus {
    margin-top: 1px;
    padding-top: 12px !important;
    border: none !important;
}

.toggle-link {
    margin-right: -15px;
}

div.with-line {
    position: relative;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
}
div.with-line:before {
    border-top: 1px solid #2b3e50;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 85%;
    z-index: -1;
}
div.with-line > span {
    background: white;
    padding: 0 10px;
}

.social-buttons {
    margin-bottom: 20px;
    text-align: center;
}
.social-buttons a {
    min-width: 28%;
}

.form-errors {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}